*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
  border: 5px solid green;
}

.headerSection{
 display: flex;
 justify-content: space-between;
 padding:10px;
}
.title{
  font-size: 1rem;
}
.Center ul li{
    list-style: none;
    display: inline-flex;
    margin:0px 5px;
}
.left{
   border:1px solid black;
   flex:4;

}
.center{
   border:1px solid black;
   flex:6;
}
.right{
   border:1px solid black;
   flex:2;
   display: flex;
   justify-content: space-between;
   padding: 0px 10px;

}
.search{
   border:1px solid black;
   flex:2;
}
.banner-sec img{
  width: 100%;
}